*{
    margin: 0px;
    padding: 0px;
    box-sizing:border-box;
    list-style-type:none;
}

body{
    font-family:Arial, Helvetica, sans-serif;
    /* background:url("./images/bg-desktop-light.jpg") no-repeat ; */
    background-color:rgb(0, 128, 111);
}

/* variables */
:root{
    --primary-color: blue;
}

/* header */
h1{
    font-size:3em;
    margin:50px 0px;
    color: white;
    letter-spacing:0.5em;
}

/* form */
form, li{
    background: white;
    color:black;
    display:flex;
    height:50px;
    border-radius:3px;
    /* align-content:center; */
}
input[type="checkbox"]{
    cursor:pointer;
}

form .new_todo_checkbox{
    width: 5%;
    margin-inline:15px;
}

form .new_todo_text{
    width:100%;
    border:none;
    border-radius:3px;
    font-size:1em;
}

/* todo items */
ul{
    margin:30px 0;
    border-radius: 10px;
}

ul li{
    border:1px solid rgb(146, 139, 139);
    margin-bottom:1px;
}

/* todo checkbox */
.todo_item_check{
    width:6%;
    margin-inline:15px;
}

/* todo text content */
.todo_item_text{
    width:100%;
    align-self:center;
}

/* delete and add buttons */
button, .add_button{
    border:none;
    background-color:white;
    color:black;
    font-size:1em;
    opacity:70%;
    cursor:pointer;
}
button{
    background-color: rgb(222, 222, 222);
}

.delete_button, .add_button{
    width: 10%;
    border-radius: 3px;
    font-size:1.3em;
}
.add_button{
    font-size: 2em;
    color:purple;
}
.delete_button:hover{
    color: red;
}



/* filters and options */
.options{
    justify-content: space-between;
    align-items:center;
    padding: 15px;
    background-color:rgb(222, 222, 222);
}
.filters{
    display:flex;
    justify-content:space-around;
}

.items_count{
    opacity:70%;
}

.filters button:hover{
    color:blue;
}
.active{
    margin-inline:15px;
}
.clear_completed:hover{
    color:red;
}

/* mobile filters */
.mobile{
    display:none;
}



/* utility classes */
.container{
    padding: 30px;
    max-width: 600px;
    margin: auto;
}

.cross{
    text-decoration:line-through;
}

.mode{
    color:blue;
}

.hide{
    display:none;
}
.error{
    background-color:rgb(240, 63, 63);
    color:white;
    padding:7px;
    border-radius: 5px;
    position: absolute;
    top:23%;
}


/* media queries */

@media(max-width: 800px){
    .filters{
        background: rgb(222, 222, 222);
        color:black;
        height:50px;
        border-radius:3px;
        display:flex;
        justify-content:space-evenly;
    }
    .options .filters{
        display: none;
    }
}
